# Configuración de Observability
PROJECT_NAME=GRAFANA_LOKI_PROMTAIL # Nombre del proyecto

# ------------------------------------------
# PROMTAIL
# ------------------------------------------

PROMTAIL_CONTAINER_NAME=promtail # Nombre del contenedor de Promtail
PROMTAIL_PORT=9080 # Puerto en el que corre Promtail

# ------------------------------------------
# LOKI
# ------------------------------------------

LOKI_CONTAINER_NAME=loki # Nombre del contenedor de Loki
LOKI_PORT=3100 # Puerto en el que corre Loki

# ------------------------------------------
# GRAFANA
# ------------------------------------------

GRAFANA_CONTAINER_NAME=grafana # Nombre del contenedor de Grafana
GRAFANA_PORT=3001 # Puerto en el que corre Grafana

GF_AUTH_ANONYMOUS_ENABLED=xxxx # Permite el acceso anónimo a Grafana
GF_AUTH_ANONYMOUS_ORG_ROLE=Xxxxx # Los usuarios anónimos tendrán el rol de Administrador
GF_LOG_LEVEL=xxxx # Configura el nivel de logs de Grafana a warn (advertencias y errores)

GF_SECURITY_ADMIN_USER=xxxxx  # Cambia este usuario y contraseña según tus políticas
GF_SECURITY_ADMIN_PASSWORD=xxxxx

GF_SERVER_ROOT_URL=https://grafana.tudominio.com

# ------------------------------------------
# SMTP
# ------------------------------------------

GF_SMTP_HOST=smtp-relay:997  # Conectarse al servicio smtp-relay por red Docker
GF_SMTP_FROM_ADDRESS=xxxxxxx@xx9999.xxxxxxxxxxxxx.xx
GF_SMTP_FROM_NAME=Xxxxxxx Xxxxxx
