# ------------------------------------------
# PostgreSQL CONFIG (DOCKER)
# ------------------------------------------

POSTGRES_CONTAINER_NAME=monitoring-postgres
# POSTGRES_HOST="localhost"  # Si estás ejecutando en el mismo contenedor o servidor
# POSTGRES_HOST=xxx-xxxxxx--xxxxxxxx999999xxx # Si estás ejecutando en remoto
POSTGRES_HOST=xxxxxxxxxx-xxxxxxx
POSTGRES_PORT=9992

POSTGRES_NAME=monitoring_db
# POSTGRES_NAME=xxxxxxxx9999
POSTGRES_USER=xxxxxxxx
POSTGRES_PASSWORD=CHANGE_ME

# ------------------------------------------
# APP CONFIG
# ------------------------------------------

MONITORING_ROOT=/opt/monitoring
BACKUP_DIR_HOST=/opt/monitoring/ops/backups
