PROJECT_NAME=XXXXXXX_XXXX_XXXXXXXX # Nombre del proyecto

LOKI_CONTAINER_NAME=xxxx # Nombre del contenedor de Loki
# LOKI_PORT=9999 # Puerto en el que corre Loki

PROMTAIL_CONTAINER_NAME=xxxxxxx # Nombre del contenedor de Promtail
# PROMTAIL_PORT=9999 # Puerto en el que corre Promtail

GRAFANA_CONTAINER_NAME=xxxxxxx # Nombre del contenedor de Grafana
GRAFANA_PORT=9999 # Puerto en el que corre Grafana

GF_AUTH_ANONYMOUS_ENABLED=xxxx # Permite el acceso anónimo a Grafana
GF_AUTH_ANONYMOUS_ORG_ROLE=Xxxx # Los usuarios anónimos tendrán el rol de Administrador
GF_LOG_LEVEL=xxxx # Configura el nivel de logs de Grafana a warn (advertencias y errores)
